*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family:'Courier New', Courier, monospace;
  color: white;
  /* overflow-y: scroll; */
}body{
  background: #3399ff;
}


.circle{
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.552);
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #508fb9;
}

.small{
  width: 200px;
  height: 200px;
  left: -100px;
  bottom: -100px;
}

.medium{
  width: 400px;
  height: 400px;
  left: -200px;
  bottom: -200px;
}

.large{
  width: 600px;
  height: 600px;
  left: -300px;
  bottom: -300px;
}

.xlarge{
  width: 800px;
  height: 800px;
  left: -400px;
  bottom: -400px;
}

.xxlarge{
  width: 1000px;
  height: 1000px;
  left: -500px;
  bottom: -500px;
}

.shade1{
  opacity: 0.2;
}
.shade2{
  opacity: 0.3;
}

.shade3{
  opacity: 0.4;
}

.shade4{
  opacity: 0.5;
}

.shade5{
  opacity: 0.6;
}

@keyframes ripple{
  0%{
    transform: scale(0.8);
  }
  
  50%{
    transform: scale(1.2);
  }
  
  100%{
    transform: scale(0.8);
  }
}
.App-header{
  display: flex;
  align-items: center;
  flex-direction: column;
}
h1{
  margin-top: 2.5rem;
  color: black;
  text-align: center;
  font-weight: 600;
  font-size: 3rem;
}
.inputWrapper{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  height: 15vh;
  background-color: rgba(255, 255, 255, 0.59);
  width: 75%;
  border-radius: 20px;
  align-items: center;
}
input{
  height: 2rem;
  padding-inline: 1rem;
  font-size: 1.2rem;
  padding-block: 1rem;
  border-radius: 10px;
  width: 500px;
  height: 40px;
  border-radius: 10px 0 0 10px;
  border-width: 1px 0px 1px 1px !important;
  border-color: black !important;
  border-style: solid !important;
  background-color: #42422b3b;
  font-family: 'Courier New', Courier, monospace;
}
button{
  height: 40px;
  border: none;
  background-color: white;
  border-radius: 0px 10px 10px 0px;
  border: 1px solid black;
  padding-inline: 1rem;
  background: #fad7d76e;
  transition: all 0.2s ease-in-out;
}
button:hover{
  cursor: pointer;
  background-color: #fad7d7fa;
}
input:focus{
  outline: none; 
}
.resultWrapper{
  color: black;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  align-items: center;
}
.articlesWrapper{
  min-height: 20vh;
  border-radius: 10px;
  background-color: #fad7d76e;
  padding-inline: 5rem;
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 95vw;
}
.scoreWrapper{
  min-height: 20vh;
  border-radius: 10px;
  background-color: #fad7d76e;
  padding-inline: 5rem;
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.scoresWrapper{
  margin-top: 1rem;
}
.resultValues{
  padding-block: 0.25rem;
}
.articleLinks{
  padding-block: 0.25rem;
}
.waitText{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 2rem;
  color: white;
}
